<div class="box_content_404">
  <div class="container">
    <div class="col-lg-12">
      <div class="box_content_404_img">
        <%= image_tag '500.png', class: 'img_404'%>
      </div>
    </div><br>
    <div class="col-lg-12">
      <div class="box_content_404_text">
        <span>Có vài lỗi trong đường dẫn này<br>
          Đừng lo lắng! Xin lỗi bạn vì sự bất tiện trên
        </span>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="box_content_404_back_to_home">
        <%= link_to 'Cùng mình quay lại trang chủ nhé', root_path %>
      </div>
    </div>
  </div>
</div>
