<% provide(:title, 'Page Not Found') %>
<div class="box_content_404">
  <div class="container">
    <div class="col-lg-12">
      <div class="box_content_404_img">
        <%= image_tag 'sammy-404.gif', class: 'img_404' %>
      </div>
    </div><br>
    <div class="col-lg-12">
      <div class="box_content_404_text">
        <span><%= t('pages.errors.error_404') %></span>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="box_content_404_back_to_home">
        <%= link_to t('pages.errors.back_to_home'), root_path %>
      </div>
    </div>
  </div>
</div>
