<div class="container">
  <div class="box_job_apply">
  <%= render 'ribbon' %>
    <div class="form_apply_job">
      <span class="span_second"><%= t('pages.apply.title_input_1') %></span>
      <br><br>
      <span><%= t('pages.apply.title_input_2') %></span>
      <%= render 'form', data_apply: @data_apply  %>
    </div>
  </div>
</div>