<div class="container">
  <div class="box_form">
    <h3>VENJOB</h3>
    Thank you for register our service, an confirmation email with registration link
    has been sent to your email. Please check your email within 24 hours
    Please note that the registration link is only valid for 24 hours
    Over that period, you will have to register your emai again.</p>
    <div class="list_email_app">
      <ul>
        <li>
          <span>You're using: </span>
        </li>
        <li>
          <a href="https://mail.google.com/" target="_blank"><i class="fas fa-inbox"></i> Gmail</a>
        </li>
        <li>
          <a href="https://login.yahoo.com/" target="_blank"><i class="fab fa-yahoo"></i> Yahoo</a>
        </li>
        <li>
          <a href="https://outlook.live.com/" target="_blank"><i class="fab fa-windows"></i> Outlook</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div style="width: 100%; height: 15vh;"></div>
