<div class="container">
  <div class="box_form">
    <h3>VENJOB</h3>
    <p>
      <%= t('mailer.register_confirmation.paragraph_1') %>
      <%= t('mailer.register_confirmation.paragraph_2') %><br>
      <%= t('mailer.register_confirmation.paragraph_3') %>
    </p>
    <div class="list_email_app">
      <ul>
        <li>
          <span><%= t('pages.mypage.you_are_using') %></span>
        </li>
        <li>
          <a href="https://mail.google.com/" target="_blank"><i class="fas fa-inbox"></i> Gmail</a>
        </li>
        <li>
          <a href="https://login.yahoo.com/" target="_blank"><i class="fab fa-yahoo"></i> Yahoo</a>
        </li>
        <li>
          <a href="https://outlook.live.com/" target="_blank"><i class="fab fa-windows"></i> Outlook</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div style="width: 100%; height: 15vh;"></div>
