<div class="overlay_login">
  <div class="modal_login">
    <div class="modal_login_header">
      <span>VUI LÒNG ĐĂNG NHẬP ĐỂ THỰC HIỆN CHỨC NĂNG NÀY</span>
      <span class="icon_close_modal_login">
        <i class="fas fa-times"></i>
      </span>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg 12">
          <div class="modal_login_notice_text">
            <span>ĐĂNG NHẬP</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
