<p><%= "#{t('mailer.send_register_confirmation.wellcome')} #{@email}!" %></p>

<p><%= "#{t('mailer.send_register_confirmation.paragraph_1')}" %></p>

<p><%= link_to t('mailer.send_register_confirmation.confirm'), confirmation_url(@resource, confirmation_token: @token) %></p>
